{% block body %}
	<h2>Welcome to the registration page</h2>

	{# Affichage des messages flash #}
	{% for label, messages in app.flashes %}
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		</div>
	{% endfor %}

	<form action="{{ path('app_registration') }}" method="post">
		<label for="firstname">Firstname:</label>
		<input type="text" id="firstname" name="firstname" required>

		<label for="lastname">Lastname:</label>
		<input type="text" id="lastname" name="lastname" required>

		<label for="email">Email:</label>
		<input type="text" id="email" name="email" required>

		<label for="password">Password:</label>
		<input
		type="password" id="password" name="password" required>

		<button type="submit">Register</button>
	</form>
	
	<p>already have an account ? <a href="{{path('app_login')}}">Click here !</a> </p>


	<button onclick="window.history.back()" class="btn btn-secondary mt-3">Retour</button>
{% endblock %}